.bg-home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/home.jpg');
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
}
