.bg-home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../assets/home.jpg');
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
}

.fg-home-page {
  height: 60vh;
  width: 100vw;
  position: absolute;
  z-index: 1024;

  margin: auto auto;
}

.fg-home-page-title {
  width: 100vw;
  position: absolute;
  z-index: 1024;

  margin: auto auto;
  font: 100 1.5em/1.5 'Great Vibes', Helvetica, sans-serif;
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%,
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
  );
  color: transparent;
  background-clip: text;
}
